body {
  margin: 0;
  height: 100vh;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat';
  --background-color-main: hsl(38, 73%, 80%);
  background-color:var(--background-color-main);
  --border-color:hsl(38, 40%, 50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  border: black solid 1px
} */


a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.tile {
  margin: 1rem 0rem;
  padding: 1rem;
  background-color: hsla(30, 49%, 10%, 0.1);
  border: solid 1px var(--border-color);
  box-shadow: 2px 2px 5px 2px hsl(30, 28%, 50%);
  border-radius: 4px
}


.tag-cluster p {
  display: inline-block;
  margin: .1rem;
  padding: .2rem;
  font-size: small;
  border: 2px solid hsla(30,9,0,1);
  border-radius: 3px;
}

.layout {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #333;
  width: 500px;
}
.navlink{
  margin: 0rem .2rem;
  padding:2rem;
  font-size: larger;
  color: black;

}

.active {
  text-decoration: underline !important;
}
.inactive {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 90%;
  max-width: 800px;
}

.about-page hr {
  width:100%;
  height:2px;
  background-color:black;
  opacity:50%;
  border: none;
  margin: 1rem 0rem;
}

.about-page-image-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border:hsla(30, 28%, 50%,.3) solid 4px;
  border-radius: 50%;
}

.about-page-image-container > img {
  object-fit: cover;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;

}

.timeline-tip {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-style:italic;
  font-size:small;
}

.end-tick {
  background-color:black;
  height: 30px;
  width: 2px;
}

.chunk {
  height: 10px;
  width: 50px;
  position: relative;
}

.popup {
  visibility: hidden;
  width: 400px;
  background-color: rgb(242, 238, 238);
  z-index: 1;
  position: relative;
  top: 30px;
  left:-190px;
  border-radius: 3px;
  border:1px solid var(--border-color);
  box-shadow: -3px -3px 2px 1px hsla(30, 28%, 50%, 50%);
  padding:1rem;
}

.chunk:hover {
  height: 20px;
  background-color:purple;
}

.chunk:hover .popup {
  visibility: visible;
}

.about-page-info {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page-info > h2 {
  font-weight: 300;
}

.about-page-info a {
  text-decoration: underline!important;
}

.projects-page {
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 1rem;
  max-width: 1000px;
}

.projects-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.project-tile > * {
  text-decoration: none!important;
}

.project-tile-img-container {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.project-tile-img-container > img {
  width: auto;
  height : auto;
  max-height: 60%;
  max-width: 60%;
  margin: 1rem;
}

.project-tile > * {
  text-decoration: none;
  color: black;
}

.project-tile > p {
  max-width: 400px;
  text-wrap:wrap;
}

.project-detail-page {
  max-width: 800px
}

/* .project-detail-section {
  margin: 2rem 0rem;
  padding: 1rem;
  background-color: hsla(30, 49%, 10%, 0.1);
  border: solid 1px hsl(30, 28%, 60%);
  box-shadow: 2px 2px 5px 2px hsl(30, 28%, 50%);
  border-radius: 4px
} */

.main-project-image,
.section-image {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  border: solid 2px black
}

.contacts-grid {
  display: flex;
  flex-direction: column;
}

.contacts-grid > .tile {
  display: flex;
  justify-content: center;
}

.contact-tile {
  margin: 1rem;
  padding: .5rem;
  background-color: #aac;
  border: 1px solid #337;
  border-radius: 3px;
}

.nope {
  background-color: #7ac69c
}